*synctex.gz
*.Rapp.history
*.Rdata
*.RData
*.Rda
*.rds
*.rda
*.Rds
*.Rhistory
*.DS_Store
*.docx
*.ppt
*.pptx
*.aux
*.log
*.blg
*.bbl
*.out
COPY*

notposting/
oecd/notposting
fulbright/notposting
gugg/notposting

fulbright/comments
